version: "3.2"
services:
    cluster_etcd:
        image: elcolio/etcd:2.0.10
        ports:
          - "2379:2379"
          - "2380:2380"
          #- "4001:4001"
          #- "7001:7001"
        volumes:
          - type: bind
            source: "{{ etcd_storage_root }}"
            target: "/data"
          - type: bind
            source: "{{ tls_root }}"
            target: "/etc/etcd/tls"
    
        restart: always
        environment:
          - CLIENT_URLS=http://0.0.0.0:2379
          - PEER_URLS=http://0.0.0.0:2380
          - ETCD_TRUSTED_CA_FILE=/etc/etcd/tls/ca.crt
          - ETCD_CERT_FILE=/etc/etcd/tls/client.crt
          - ETCD_KEY_FILE=/etc/etcd/tls/client.key
          - ETCD_CLIENT_CLIENT_CERT_AUTH=true
          - ETCD_PEER_TRUSTED_CA_FILE=/etc/etcd/tls/ca.crt
          - ETCD_PEER_CERT_FILE=/etc/etcd/tls/peer.crt
          - ETCD_PEER_KEY_FILE=/etc/etcd/tls/peer.key
          - ETCD_PEER_CLIENT_CERT_AUTH=true 
