version: "3.2"
services:
    dns_tunnel:
        image: shadowsocks/shadowsocks-libev
        network_mode: "host"
        volumes:
          - type: bind
            source: "{{ data_root }}/tunnel.json"
            target: "/etc/shadowsocks-libev/tunnel.json"

        restart: always
        command:
          - "/bin/sh"
          - "-c"
          - "exec ss-tunnel -c /etc/shadowsocks-libev/tunnel.json"

    cleandns:
        build:
            context: .
            dockerfile: Docker/Dockerfile-CleanDNS
        image: cleandns:latest
        network_mode: "host"
        privileged: true
        restart: always
        volumes:
          - type: bind
            source: "{{ config_root }}"
            target: "/etc/dnsmasq.d/"
          - type: bind
            source: "{{ log_root }}"
            target: "/var/log/"
        environment:
          - LISTEN_ADDRESS={{ cleandns_listen | default('127.0.0.1') }}
          - LISTEN_PORT={{ cleandns_port | default('5353') }}
          - UPSTREAM_DNS=127.0.0.1
          - UPSTREAM_DNS_PORT={{ port_map_to }}
