version: "3.2"
services:
    CleanDNS:
        build:
            context: .
            dockerfile: Docker/Dockerfile-CleanDNS

        image: cleandns:latest
        network_mode: "host"
        privileged: true

        volumes:
          - type: bind
            source: "{{ cleandns_config_root }}"
            target: "/etc/dnsmasq.d/"
          - type: bind
            source: "{{ cleandns_log_root }}"
            target: "/var/log/"

        restart: always
        environment:
          - LISTEN_ADDRESS={{ cleandns_listen | default('127.0.0.1') }}
          - LISTEN_PORT={{ cleandns_port | default('5353') }}
          - UPSTREAM_DNS={{ upstream_dns }}
          - UPSTREAM_DNS_PORT={{ upstream_port }}
