{
    "server" : "{{ server_name }}"
    , "server_port" : "{{ server_port }}"
    , "local_address" : "0.0.0.0"
    , "local_port": "5353"
    , "tunnel_address": "{{ tunnel_address }}:{{ tunnel_port }}"
    , "password" : "{{ encrypt_password }}"
    , "method" : "{{ encrypt_method }}"
    , "mode": "{{ tunnel_protocol }}"
    , "timeout" : 600
}

