{
"apiVersion": "v1",
"kind": "Pod",
"metadata": {
  "name":"etcd-server-{{ etcd_node_name -}}",
  "namespace": "kube-system",
  "annotations": {
    "scheduler.alpha.kubernetes.io/critical-pod": "",
    "seccomp.security.alpha.kubernetes.io/pod": "docker/default"
  }
},
"spec":{
"hostNetwork": true,
"containers":[
    {
    "name": "etcd-container",
    "image": "k8s.gcr.io/etcd:3.3.10-0",
    "command": [
                "etcd"
                , "--peer-auto-tls"
            ],
    "env": [
      { 
        "name": "ETCD_LISTEN_CLIENT_URLS",
        "value": "https://0.0.0.0:2379"
      },
      {
        "name": "ETCD_LISTEN_PEER_URLS",
        "value": "https://0.0.0.0:2380"
      },
      {
        "name": "ETCD_DATA_DIR",
        "value": "/data"
      },
      {
        "name": "ETCD_TRUSTED_CA_FILE",
        "value": "/etc/etcd/tls/ca.crt"
      },
      {
        "name": "ETCD_CERT_FILE",
        "value": "/etc/etcd/tls/client.crt"
      },
      {
        "name": "ETCD_KEY_FILE",
        "value": "/etc/etcd/tls/client.key"
      },
      {
        "name": "ETCD_CLIENT_CERT_AUTH",
        "value": "true"
      },
      {
        "name": "ETCD_PEER_TRUSTED_CA_FILE",
        "value": "/etc/etcd/tls/ca.crt"
      },
      {
        "name": "ETCD_PEER_CLIENT_CERT_AUTH",
        "value": "true"
      },
      {
        "name": "ETCD_ADVERTISE_CLIENT_URLS",
        "value": "{{ ','.join(my_client_endpoint) }}"
      },
      {
        "name": "ETCD_INITIAL_ADVERTISE_PEER_URLS",
        "value": "{{ ','.join(my_peer_endpoint) }}"
      },
      {
        "name": "ETCD_INITIAL_CLUSTER",
        "value": "{{ ','.join(init_peer_list) }}"
      },
      {
        "name": "ETCD_INITIAL_CLUSTER_TOKEN",
        "value": "star-kube-etcd"
      },
      {
        "name": "ETCD_INITIAL_CLUSTER_STATE",
        "value": "new"
      },
      {
        "name": "ETCD_NAME",
        "value": "{{ hostvars[inventory_hostname]['etcd_node_name'] }}"
      },
      {
        "name": "ETCDCTL_CA_FILE",
        "value": "/etc/etcd/tls/ca.crt"
      },
      {
        "name": "ETCDCTL_CERT_FILE",
        "value": "/etc/etcd/tls/client.crt"
      },
      {
        "name": "ETCDCTL_KEY_FILE",
        "value": "/etc/etcd/tls/client.key"
      },
      {
        "name": "ETCDCTL_ENDPOINTS",
        "value": "https://127.0.0.1:2379"
      }
        ],
    "ports": [
      {
        "name": "serverport",
        "containerPort": 2380,
        "hostPort": 2380
      },
      {
        "name": "clientport",
        "containerPort": 2379,
        "hostPort": 2379
      }
        ],
    "volumeMounts": [
      {
        "name": "etcd-data",
        "mountPath": "/data",
        "readOnly": false
      },
      {
        "name": "etcd-tls",
        "mountPath": "/etc/etcd/tls",
        "readOnly": false
      },
      {
        "name": "etcd-tls-ca",
        "mountPath": "/etc/etcd/tls/ca.crt",
        "readOnly": false
      }
    ]
    }
],
"volumes":[
  {
        "name": "etcd-data",
    "hostPath": {
        "path": "{{ __etcd_data_root }}"}
  },
  {
        "name": "etcd-tls",
    "hostPath": {
        "path": "{{ __etcd_cert_root }}"}
  },
  {
        "name": "etcd-tls-ca",
    "hostPath": {
        "path": "{{ __pki_root }}/ca.crt",
        "type": "FileOrCreate"}
  }
]
}}
